@model FreeBoardViewModel

    <div class="container p-3">

        <div class="text-center p-3 my-3 text-secondary">
            <h3>FreeBoard</h3>
        </div>

        <form method="post" asp-controller="FreeBoard" asp-action="Write">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="row text-dark">
                <div class="col-sm-2 d-grid">
                    <div class="form-floating">
                        <input class="form-control check" type="text" name="Name" placeholder="Leave a Name here" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                        <label>Name</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input class="form-control check" type="password" name="Password" placeholder="Leave a PW here" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <label>Password</label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-floating">
                        <textarea class="form-control check" name="Content" style="height: 120px" placeholder="Leave a comment here"></textarea>
                        <span class="text-danger" asp-validation-for="Content"></span>
                        <label>Content</label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-2 d-grid gap-2">
                    <button class="btn btn-lg btn-outline-primary" type="submit">등록</button>
                </div>
            </div>
        </form>

    </div>