<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Introduce</title>
    <link rel="icon" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Introduce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/Trumbowyg-main/dist/ui/trumbowyg.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/Trumbowyg-main/dist/trumbowyg.min.js"></script>
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Introduce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">

                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="FreeBoard" asp-action="Index">FreeBoard</a></li>
                        <li class="nav-item"><a class="nav-link active" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a></li>
                    </ul>

                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <div class="d-flex">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Context.User.Identity.Name</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="User" asp-action="MyInfo">내 정보</a>
                                    <a class="dropdown-item" asp-controller="User" asp-action="Update">내 정보수정 </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="User" asp-action="Withdrawn">회원탈퇴</a>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <a class="nav-link active text-white" asp-area="" asp-controller="User" asp-action="LogOut">LogOut</a>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex">
                            <a class="nav-link active text-white" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                            <a class="nav-link active text-white" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://github.com/inandexhale95">
                <object class="bd-placeholder-img flex-shrink-0 me-2 rounded" data="~/icons/github_icon.png" width="32" height="32" role="img" aria-label="Placeholder: 32x32" focusable="false"></object>
            </a>
        </div>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
